@model E_Ticaret.Models.Urunler

@{
    ViewBag.Title = "Delete";
}

<h2>Sil</h2>


<div>
    <h4>Urunler</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Ürün Adı
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunAdi)
        </dd>

        <dt>
         Ürün Açıklaması
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunAciklamasi)
            @*Veriyi getirir*@
        </dd>

        <dt>
          Ürün Fiyatı
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunFiyati)
        </dd>

        <dt>
           Kategori Adı
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kategori.KategoriAdi)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <h5>Ürünü Silmek İstediğinize Emin Misiniz?</h5>
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("Listeye Geri Dön", "Index")
        </div>
    }
</div>
